<section id="friendsbook" ng-if="showRegAndUserpage">
    <form>
        <h1>Login</h1>
        <label>
            Username:
            <input type="text" placeholder="username..." required ng-model="loginUserInfo.username" />
        </label>
        <label>
            Password:
            <input type="password" placeholder="password..." required ng-model="loginUserInfo.password" />
        </label>
        <input type="submit" value="Login" ng-click="loginUser(loginUserInfo)" />
    </form>

    <form>
        <h1>Register</h1>
        <input type="text" placeholder="username" ng-model="registerUserInfo.username" />
        <input type="password" placeholder="enter password" ng-model="registerUserInfo.password" />
        <input type="password" placeholder="confirm password" ng-model="registerUserInfo.confirmPassword" />
        <input type="text" placeholder="name">
        <input type="email" placeholder="Email or mobile number" ng-model="registerUserInfo.email" />
        <label for="male">Male</label>
        <input type="radio" name="gender" id="male" value="0" ng-model="registerUserInfo.gender" />
        <label for="female">Female</label>
        <input type="radio" name="gender" id="female" value="1" ng-model="registerUserInfo.gender" />
        <input type="submit" ng-click="registerUser(registerUserInfo)" />
    </form>
</section>
<section ng-if="showHomepage">
    <h1>Welcome</h1>
    <p ng-bind="userInfo" data-ng-init="showUserInfo()"></p>
</section>